<p>New Device added: <strong><%= @device_info[:name]%></strong></p>
<p>Please take note of the following informations. You won't see it again.</p>
<br>
<p><%= @device_info[:name]%>'s unique id: <strong><%= @device_info[:unique_id]%></strong></p>
<p><%= @device_info[:name]%>'s password: <strong><%= @device_info[:password]%></strong></p>