<% if user_signed_in? %>
  <h2>Add Device</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devices/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Add Device" %>
    </div>
  <% end %>

  <%= render "devices/shared/links" %>
  
<% else %>
  <h2>You need to log in as user first!</h2>
<% end %>
